// background color
$background-color__bottom: hsl(240, 73%, 65%);
$background-color__top: hsl(273, 75%, 66%);
$card-background: hsl(240, 5%, 91%);

// text

$header-hover: hsl(14, 88%, 65%);
$arrow-color: $header-hover;
$header-selected: hsl(238, 29%, 16%);
$header-regular: hsl(237, 12%, 33%);
$text-color:hsl(240, 6%, 50%);