@import 'normalize';
@import 'global';
@import 'colors';

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* container max width -------------------  */

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(180deg, #AF68EA 0%, #7C65E7 100%);
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 950px;
    margin-bottom: 24px;
}

.main-section {
    background-color: white;
    margin-top: 129px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 509px;

    &::before {
        content: url('../images/illustration-box-desktop.svg');
        z-index: 1000;
        position: relative;
        width: 0;
        right: 100px;
        top: 40%;
        z-index: 1000;
    }
}

.image {
    flex: 1 0 50%;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -571px -290px;
    background-size: auto 185%;
    height: auto;
    background-attachment: local;
    overflow: hidden;

    .image__mobile {
        display: none;
    }

    img {
        width: 100%;
        display: block;
        position: relative;
        top: 74px;
        right: 74px;



    }

}

.content {
    flex: 1 1 50%;
    padding: 64px 90px 60px 0;
    overflow-y: scroll;

    h1 {
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;

        span {
            font-size: 14px;
        }
    }

    &__list {

        li {
            padding-bottom: 16px;
            margin-bottom: 17px;
            border-bottom: 1px solid $card-background;
        }
    }
}

.content__header {
    cursor: pointer;
    color: $header-regular;

    &:hover {
        color: $header-hover;
    }
}

details {

    img {
        transition: 0.3s ease-out;
    }


    summary {
        list-style: none;
    }

    p {
        font-size: 12px;
        line-height: 18px;
        margin: 12px 0 0;
        color: $text-color;
        max-width: 320px;
        /* from Frontend Mentor */
        transition: 0.5s ease-in-out;
        opacity: 0;
    }

    &[open] {

        summary {
            color: $header-selected;
            font-weight: 700;

            img {
                transform: rotate(-180deg);
            }

            &:hover {
                color: inherit;
            }
        }

        p {
            opacity: 1;
        }
    }
}




/* =========== media query ================= */

@media screen and (max-width:1024px) {
    .container {
        max-width: 500px;

    }

    .main-section {
        padding: 0 24px 46px 24px;
        flex-direction: column;
        height: auto;

        &::before {
            display: none;
        }
    }

    .image {
        flex: 1 0 130px;
        background-image: url(../images/bg-pattern-mobile.svg);
        background-position: top center;
        background-size: auto;
        overflow: visible;

        .image__desktop {
            display: none;
        }

        .image__mobile {
            margin: 0 auto;
            display: block;
            top: -80px;
            width: 200px;
            height: auto;
        }

        img {
            right: 0;
        }

    }

    .content {
        padding: 0 24px;

        h1 {
            text-align: center;
        }
    }


}

@media screen and (max-width:425px) {

    .content {
        padding: 0;

        &__header {
            padding-right: 0;
        }

    }

}